<div class="guider-container">
  <div class="guider1-container">
     <div class="guider2-container">
        <div class="kg">
            <div class="kobe1">
               <ul class="profile">
                  <li class="profile1-1">
                    <span class="profile2"><a class="ac" href= "/guiders/<%= current_guider.id%>/edit"> プロフィール　</a></span>
                  </li class="profile1-1">
                  <li class="profile1-1">
                    <span class="profile1"><a class="ac" href= "/guiders/<%= current_guider.id%>/edit">投稿一覧</a></span>
                  </li>
                  <li class="profile1-1">
                    <span class="profile1">Trust and Verification</span>
                  </li>
                  <li class="profile1-1">
                    <span class="profile1">Reviews</span>
                  </li>
                  <li class="profile1-1">
                    <span class="profile1">References</span>
                  </li>
               </ul>
            </div>
            <a class="ysp btn-block space-top-4" href="guider/show" >View Profile</a>
        </div>
        <div class="own">
         <p style="margin-top: 0;"><span style="font-weight: bold; font-size: 20px;"><%= @nickname %></span>さんの投稿一覧</p>
         <% @plans.each do |plan| %>
       
          <div class="ichiran" style="background-image: url(<%= plan.image %>);">
           <div class="mypost">
            
             <ul class="mypost_list">
               <li>
                <%= link_to '詳細', "/plans/#{plan.id}", method: :get %>
               </li>
               <li>
                 <%= link_to '編集', "/plans/#{plan.id}/edit", method: :get %>
               </li>
               <li>
                 <%= link_to '削除', "/plans/#{plan.id}", method: :delete %>
               </li>
               
             </ul>
           </div>
           
          </div>
       
         <% end %>

         <%= paginate(@plans) %>
        </div>
     </div>
  </div>
</div>