<div class="contents graph" style="height: 670px;">
 <h2 style="text-align: center; font-weight: 600; font-size: 25px; color: inherit; line-height: 36px;
    white-space: nowrap;">パスワードをお忘れの方</h2>

 <%= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {:class => "new_guider2"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "ご登録されたメールアドレス",autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "送信する" %>
  </div>
  <div class="shita2">
    <%= render "guiders/shared/links" %>
  </div>
 <% end %>
</div>

