<div class="mainpage" style="height: 1650px;">
 
  <div class="contents center">
   <% if @search_keyword.present? %> 
    <div class="topic">
     <span class="topic2"><%= @search_keyword %></span>
     <span class="topic1">の検索結果</span>
    </div>
   <% end %>
   <% if ! @search_keyword.present? %> 
    <div class="all-topic" style="margin-bottom: 30px;">
     <span>最新の投稿一覧</span>
    </div>
   <% end %>
   <% @plans.each do |plan| %>
   <div class="posts">
    <div style="background-image: url(<%= plan.image.url %>); height: 233.91px; position: relative;" >
    <%= image_tag(plan.to_s, class: "bookdo") %>
    <%= link_to '', "/plans/#{plan.id}", method: :get, class: "magic-master" %>
        <div class="more">
          
           <ul class="more_list">
            <li>
              <%= link_to '', "/plans/#{plan.id}", method: :get %>
            </li>
            
           </ul>
        </div>
       
      <span class="name">
        <a href="/guiders/<%= plan.guider_id %>">
          
        </a>
      </span>
      
    </div>

    <div class="mix-change">
     <span class="mix" style="margin-left: 0px;"><%= plan.title %></span>
     <span class="mix1">¥<%= plan.price %></span>
     
    </div>
     

  

   </div>


   <% end %>
   
   <%= paginate(@plans) %>
  
 </div>
 <% if ! Plan.find_by(title: params[:title]).blank? %> 
  <div class="contents center">
   <% @post.each do |plan| %>
    <div class="kanren" style="background-image: url(<%= plan.image %>);">
        <div class="less">
           <ul class="less_link">
            <li>
              <%= link_to '', "/plans/#{plan.id}", method: :get %>
            </li>
           
           </ul>
        </div>
        <%= simple_format(plan.title) %>
       
      </div>
   <% end %>
   
  </div>
 <% end %>
</div>

