<div class= "headquarter">
 <div class= "image-all">
  <div class="image-five ">
   <div class="image-parts">
    <div class="main">
       <i class="fas fa-chevron-circle-left" aria-hidden="true" id="prev"></i>
       <%= image_tag(@plan.image.thumb.url , :id=> "target", :class => "contain") %>
       <i class="fas fa-chevron-circle-right" aria-hidden="true" id="next"></i>
    </div>
    <script src="javascripts/main.js"></script>
    <script>
      var files = [
      '<%= @plan.image %>',
      '<%= @plan.copy_image %>',
      '<%= @plan.third_image %>',
      '<%= @plan.fourth_image %>',
      '<%= @plan.five_image %>'
      ];
　  </script>
   </div>
  </div>
 </div>

 <div class= "macro">
  <div class="detail">
   <div class="micro">
    <div class="contents free">
     <div class="specific">

      <div class="airbnb1">
        <div class="airbnb-plus">
          <div style="margin-top: 24px; width: 610px;">
          <div class="minus">
           <div class="kataho" style="height: 10px;">
            <div class="airbnb1-1">
              <div class="airbnb2-2"><span class="nini"><%= @plan.title %></span></div>
            
            </div>
           </div>

          </div>
          </div>
        </div>
      </div>

      <div class="arasuji">

        <div class="arasuji1">
           <div class="arasuji2">
        

             <div style="margin-top:16px;">
             <div class="shashin">
               <div class="bg"><span class="bg1"><i class="fas fa-user-edit"></i></span></div>
             </div>
             <div class="place">
               <div class="dg"><%= @plan.place %></div>
               <div class="dg1">JINJINJINJIN</div>
             </div>
             </div>

             <div style="margin-top:16px;">
             <div class="shashin">
               <div class="bg"><span class="bg1"><i class="fas fa-school"></i></span></div>
             </div>
             <div class="place">
               <div class="dg"><%= @plan.times %></div>
               <div class="dg1">JINJINJINJIN</div>
             </div>
             </div>

             <div style="margin-top:16px;">
             <div class="shashin">
               <div class="bg"><span class="bg1"><i class="far fa-comment-alt"></i></span></div>
             </div>
             <div class="place">
               <div class="dg"><%= @plan.contents %></div>
               <div class="dg1">GoGo</div>
             </div>
             </div>

             <div style="margin-top:16px;">
             <div class="shashin">
               <div class="bg"><span class="bg1"><i class="fas fa-eye"></i></span></div>
             </div>
             <div class="place">
               <div class="dg"><%= @plan.meetingplace %></div>
               <div class="dg1">GoGo</div>
             </div>
             </div>

             <div style="margin-top: 24px; margin-bottom: 24px;">
                <div class="shashin-bar"></div>
             </div>
           </div>

        </div>

      </div>

      <div class="shosai">
        <div class="shosai1">
          <div class="shosai2">
            <p class="shosai3"><span class="shosai4">商品の説明</span></p>
          </div>
        </div>
        <div style="margin-top: 16px; width: 594px; height: 638px;">
          <div class="shosai5">
            <p><span><%= @plan.contents %></span></p>
          </div>
        </div>
      </div>
     </div>
　  </div>
    <div class="contents info">
     <div style="margin-top: 24px;">
     <div class="payment">
      <div class="payment-1">
       <form class="kenichiro" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="RX4RQEFFCFRCG">
         <table>
           <tr><td>
              <input type="hidden" name="on0" value="Guider Fee"><span class="guide">購入代金</span><hr class="line">
           </td></tr>
           <tr><td>

             <span class="dates" style="height: 48px;">配送方法</span>

             <p class="date" >郵便配送</p>

           </td></tr>
           <tr><td><span class="price">価格</span><select name="os0" style="height: 48px;">

                <option value="500円">500円 </option>
                <option value="1000円">1000円 </option>
                <option value="1500円">1500円 </option>
           </select> </td></tr>
         </table>

        <% if guider_signed_in? %>
         
           <input type="image" src="https://www.paypalobjects.com/ja_JP/JP/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い" style="width: 250px; height: 70px; margin-left: 35px; margin-top: 25px;">
           <img alt="" border="0" src="https://www.paypalobjects.com/ja_JP/i/scr/pixel.gif" width="1" height="1">
         </form>

        <% else %>
         <div class="sign">
           <%= link_to "Can you Sign up before payment? ", new_tourist_registration_path, class: 'finish' %>
         </div>
        <% end %>


       </form>
      </div>
      
     </div>
    </div>
   </div>
  </div>
 </div>
</div>





