<div class= "headquarter">
 <div class= "image-all">
  <div class="image-five ">
   <div class="image-parts" style="display: block; margin-left: 0px;">
    <div class="main">
       <i class="fas fa-chevron-circle-left" aria-hidden="true" id="prev"></i>
       <%= image_tag(@plan.image.thumb.url , :id=> "img", :class => "contain") %>
       <i class="fas fa-chevron-circle-right" aria-hidden="true" id="next"></i>
    </div>
    <div class="king">
      <ul class="example" id="thumb_img">
        <li class="current"><img class="active" onclick="changeimg('<%= @plan.image %>',this);" src="<%= @plan.image %>"></li>
        <li><img onclick="changeimg('<%= @plan.copy_image %>',this);" style="width: 150px; height: 220px;" src="<%= @plan.copy_image %>"></li>
        <li><img style="width: 150px; height: 220px;" onclick="changeimg('<%= @plan.third_image %>',this);" src="<%= @plan.third_image %>"></li>
        <li><img style="width: 150px; height: 220px;" onclick="changeimg('<%= @plan.fourth_image %>',this);" src="<%= @plan.fourth_image %>"></li>
        <li><img style="width: 150px; height: 220px;" onclick="changeimg('<%= @plan.five_image %>',this);" src="<%= @plan.five_image %>"></li>
      </ul>
    </div>
    <script src="javascripts/main.js"></script>
    <script>
      var files = [
      '<%= @plan.image %>',
      '<%= @plan.copy_image %>',
      '<%= @plan.third_image %>',
      '<%= @plan.fourth_image %>',
      '<%= @plan.five_image %>'
      ];
　  </script>
    
   </div>
  </div>
 </div>

 <div class= "macro">
  <div class="detail">
   <div class="micro">
    <div class="contents free">
     <div class="specific">

      <div class="airbnb1">
        <div class="airbnb-plus">
          <div style="margin-top: 24px; width: 610px;">
          <div class="minus">
           <div class="kataho" style="height: 10px;">
            <div class="airbnb1-1">
              <div class="airbnb2-2"><span class="nini"><%= @plan.title %></span></div>
            
            </div>
           </div>

          </div>
          </div>
        </div>
      </div>

      <div class="arasuji">

        <div class="arasuji1">
           <div class="arasuji2">
        

             <div style="margin-top:16px;">
             <div class="shashin">
               <div class="bg"><span class="bg1"><i class="fas fa-user-edit"></i></span></div>
             </div>
             <div class="place">
               <div class="dg"><%= @plan.place %></div>
               <div class="dg1">JINJINJINJIN</div>
             </div>
             </div>

             <div style="margin-top:16px;">
             <div class="shashin">
               <div class="bg"><span class="bg1"><i class="fas fa-school"></i></span></div>
             </div>
             <div class="place">
               <div class="dg"><%= @plan.times %></div>
               <div class="dg1">JINJINJINJIN</div>
             </div>
             </div>

             <div style="margin-top:16px;">
             <div class="shashin">
               <div class="bg"><span class="bg1"><i class="far fa-comment-alt"></i></span></div>
             </div>
             <div class="place">
               <div class="dg"><%= @plan.category %></div>
               <div class="dg1">GoGo</div>
             </div>
             </div>

             <div style="margin-top:16px;">
             <div class="shashin">
               <div class="bg"><span class="bg1"><i class="fas fa-eye"></i></span></div>
             </div>
             <div class="place">
               <div class="dg"><%= @plan.datetimes %></div>
               <div class="dg1">GoGo</div>
             </div>
             </div>

             <div style="margin-top: 24px; margin-bottom: 24px;">
                <div class="shashin-bar"></div>
             </div>
           </div>

        </div>

      </div>

      <div class="shosai">
        <div class="shosai1">
          <div class="shosai2">
            <p class="shosai3"><span class="shosai4">商品の説明</span></p>
          </div>
        </div>
        <div style="margin-top: 16px; width: 594px; height: 638px;">
          <div class="shosai5" style="line-height: 30px;">
            <p><span ><%= simple_format(@plan.contents, class: "goster") %></span></p>
          </div>
        </div>
      </div>
     </div>
　  </div>
    <div class="contents info">
     <div style="margin-top: 24px;">
     <div class="payment">
      <div class="payment-1">
       <form class="kenichiro">
         <table>
           <tr><td>
              <span class="guide">購入代金</span><hr class="line">
           </td></tr>
           <tr><td>

             <span class="dates" style="height: 48px;">配送方法</span>

             <p class="date" >郵便配送</p>

           </td></tr>
           
          
         </table>
         <span class="price" style="height: 48px;">価格</span>
         <p class="date" ><%= @plan.price %>円</p>

                

        <% if guider_signed_in? %>
          <div style="width: 328px; height: 48px; text-align: center; margin-top: 20px;">
           <%= form_tag("/plans/#{@plan.id}/purchase") do %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                 data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                 data-amount="<%= @plan.price %>"
                 data-currency="jpy"
                 data-description="クレジット決済"
                 data-name=<%= "#{@plan.title}を購入" %>
                 data-email=<%= "#{current_guider.email}" %>
                 data-label="購入する"
                 data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                 data-locale="auto"
                 data-allow-remember-me="false">
              </script>
           <% end %>
          </div>
         </form>

        <% else %>
         <div class="sign">
           <%= link_to "Can you Sign up before payment? ", new_guider_registration_path, class: 'finish' %>
         </div>
        <% end %>


       </form>
      </div>
      
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
