
<div class="main-container" style="height: 350px;">
</div>
<div class="mainpage">
 
  <div class="contents center">
   
   
    <div class="all-topic">
     <h1 class="post_post">最新の投稿一覧</h1>
     <span style="padding-left: 10px;">本の投稿</span>
    </div>
   
   <% @plans.each do |plan| %>
   <div class="posts" style="margin-top: 20px; margin-left: 10px;">
    <div style="position: relative; height: 233.91px; background-image: url(<%= plan.image.url %>);" >
     <%= image_tag(plan.image.url, class: "bookdo") %>
     <%= link_to '', "/plans/#{plan.id}", method: :get, class: "magic-master2" %>
        <div class="more">
          
           <ul class="more_list">
            <li>
              <%= link_to '', "/plans/#{plan.id}", method: :get %>
            </li>
            
           </ul>
        </div>
       
      <span class="name">
        <a href="/guiders/<%= plan.guider_id %>">
          
        </a>
      </span>
      
    </div>

    <div class="mix-change">
     <span class="mix" style="margin-left: 0px;"><%= plan.title %></span>
     <span class="mix1">¥<%= plan.price %></span>
     
    </div>
     

  

   </div>


   <% end %>
  
 </div>
 <div class="mainpage">
 
  <div class="contents center">
   <div class="second-go" style="height: 800px;">
     <div class="all-topic">
        <span style="padding-left: 10px;">まとめサイト</span>
     </div>
     <% @tests.each do |test| %>
     <div class="posts" style="width: 170px; height: 130px; margin-bottom: 50px; margin-top: 20px; position: relative;">
        <%= image_tag(test.book.thumb.url, :class => "creat") %>
        <%= link_to "", test_path(test.id), class: "hah" %>
        
      <div class="mix-change">
          <h2 class="line_go" style="width: 170px; height: 130px; margin-bottom: 30px;"><%= simple_format(test.summary) %></h2>
      </div>

     </div>

     <% end %>

    </div>
　 </div>
  </div>
 </div>

