<div class="contents graph" style="height: 3000px;">
   <h4 class="sansan" style="text-align: center; width: 800px; font-size: 25px;">アフィリエイトの登録の仕方:</h4>

   <div class="sangon">
     <p class="sansan">①楽天会員に新規登録してサービスを利用する</p>
     <div style="border-radius: 4px; width: 800px; height: 400px; margin-bottom: 20px; margin-top: 10px;">
          <%= image_tag('afiliate1.png') %>
     </div>
   </div>

   <div class="sangon">
     <p class="sansan">②会員情報(メールアドレス・ユーザーID・パスワード)を入力してください</p>
     <div style="border-radius: 4px; width: 800px; height: 400px; margin-bottom: 20px; margin-top: 20px;">
          <%= image_tag('afiliate1-5.png') %>
     </div>
   </div>

   <div class="sangon" style="margin-top: 130px;">
     <p class="sansan">③載せたい広告の名前を検索フォームから入力してください</p>
     <div style="border-radius: 4px; width: 800px; height: 400px; margin-bottom: 20px; margin-top: 30px;">
          <%= image_tag('afiliate2.png') %>
     </div>
   </div>

   <div class="sangon" style="margin-top: 130px;">
     <p class="sansan">④商品リンクをクリックしてください</p>
     <div style="border-radius: 4px; width: 800px; height: 400px; margin-bottom: 20px; margin-top: 30px;">
          <%= image_tag('afiliate3.png') %>
     </div>
   </div>

   <div class="sangon" style="margin-top: 150px;">
     <p class="sansan">⑤リンクタイプを画像のみ・サイズを240×240にしてください</p>
     <div style="border-radius: 4px; width: 800px; height: 400px; margin-bottom: 20px; margin-top: 30px;">
          <%= image_tag('afiliate4.png') %>
     </div>
   </div>

   <div class="sangon" style="height: 220px;">
     <p class="sansan">⑥画像のリンクのコードを投稿ページの"広告のコード"の部分に入力してください</p>
     <div style="border-radius: 4px; width: 800px; height: 400px; margin-bottom: 20px; margin-top: 30px;">
          <%= image_tag('afiliate5.png') %>
     </div>
   </div>
   
   
     <p class="sansan">これで終了です・ありがとうございます</p>
     
</div>