<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Goodle Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8830310600171711",
    enable_page_level_ads: true
     });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130237144-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-130237144-1');
    </script>
    <title>ユリイカ</title>
    <meta name="description" content="ユリイカで、本, スキルアップ, テスト対策のサービスを利用することができます。">
    <meta name="keywords" content="ユリイカ, Eureka, 大学, 資格・体験談, テスト対策">
    <meta name="viewport" content="width=devise-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0"">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="responsive.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags  %>
    <!-- Google Console Search -->
    <meta name="google-site-verification" content="uh4J6YQwgfL0Q9XnjCyjTV2xB16q7eXGFCHfdq2UNLQ" />
    
  </head>  
  

  <body class="photo">
  <!-- パソコン用 -->
   <div class="pc">
   
    <header>
     <div>
      <div class="head-container">
       <nav class="headed">
        <li class="left">
         <div class="fine">

          <div class="full_max">
           <div class="full">
            <h1 class="eureka"><a style="color: #E47911; width: 130px; padding-top: 4px; text-align: left;" href="/plans/:id/top">ユリイカ</a></h1>
            <%= form_tag plans_path, :method => 'get', :class => 'gopro' do %>
                   <div class="question_answer"><%= text_field_tag :search, params[:search], class: "fun_interview", placeholder: '' %></div>
                   <div class="interview_answer"><%= submit_tag "", :name => nil, class: "interview" %></div>
             <% end %>
             
           </div>
           

          </div>
         <div>

        </li>
       
        <% if guider_signed_in? %>
          <div class="guider_nav">
            <span style="top: 18px; margin-top: 0px;"><%= current_guider.nickname %>
              <ul>
                  <li class="category">
                    <a class="guider-category", href="/guiders/<%= current_guider.id%>/edit ">マイページ</a>
                    <a class="guider-category", href="/guiders/<%= current_guider.id %>/go">問い合わせ</a>
                    <%= link_to "ログアウト", destroy_guider_session_path, method: :delete, class: 'guider-category' %>
                  </li>
              </ul>
            </span>
            <a class="plan" href="/guiders/:id/post">投稿</a>
          </div>
          
        <% end %>

        <% if ! (guider_signed_in? or tourist_signed_in?) %>
         
             
             <li class="first"><%= link_to "新規登録", new_guider_registration_path, class: 'post' %></li>
             <li class="second"><%= link_to "ログイン", new_guider_session_path, class: 'post' %></li>
             
          
        <% end %>

        <div class="sp">
          <% if ! (guider_signed_in? or tourist_signed_in?) %>
           <div class="grid-6">
            <div class="user_nav grid-6">
              <span class="samurai" style=" 
                width: 300px;
                height: 0px;
                bottom: 5px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                padding-top: 0px;
                margin-left: 0px;
                padding-right: 11px;">
                <ul class="user__info">
                 <li>
                  <%= link_to "traveller", new_tourist_session_path, class: 'post' %>
                  <%= link_to "guider", new_guider_session_path, class: 'post' %>
                 </li>
                </ul>
              </span>
            </div>
           </div>
          <% end %>
        </div>
       

       </nav>
        <div class="all-star" style="margin-bottom: 10px;">
         
          <i class="fas fa-bars"></i>
          <a class="category-id" href="/categorys">カテゴリー<br /></a>
          <i class="fas fa-book" style="margin-left: 15px;"></i>
          <a class="category-id" href="/plans" >フリマ</a>
          <i class="fas fa-file-alt" style="margin-left: 15px;"></i>
          <a class="category-id" href="/tests">スキルアップ</a>
          <i class="fas fa-file-alt" style="margin-left: 15px;"></i>
          <a class="category-id" href="/professions/:id/category">テスト対策</a>
        
        </div>

       <div class="mbar">
      </div>
     </div>
    </header>

    <%= yield %>
</div>

<!-- タブレット用 -->
<div class="sp">
   <header>
     <div>
      <div class="head-container">
       <nav class="headed">
        <li class="left">
         <div class="fine">

          <div class="full_max">
           <div class="full">
            <h1 class="eureka"><a style="color: #E47911; width: 130px; text-align: left; padding-top: 4px;" href="/plans/:id/top">ユリイカ</a></h1>
            <%= form_tag plans_path, :method => 'get', :class => 'gopro' do %>
                   <div class="question_answer"><%= text_field_tag :search, params[:search], class: "fun_interview", placeholder: '' %></div>
                   <div class="interview_answer"><%= submit_tag "", :name => nil, class: "interview" %></div>
             <% end %>


             
           </div>
           

          </div>
         <div>

        </li>
       
        

       </nav>
        <div class="all-star" style="margin-bottom: 10px;">
         
          <i class="fas fa-bars"></i>
          <a class="category-id" href="/categorys">カテゴリー<br /></a>
          <i class="fas fa-book" style="margin-left: 15px;"></i>
          <div class="getgo_nav">
           
           <span class="fas fa-rule" style="display: inline-block;" >サービス
              <ul>
                  <li class="category">
                     <a class="guider-category" href="/plans" >フリマ</a>
                    <a class="guider-category" href="/tests">スキルアップ</a>
                    <a class="guider-category" href="/professions/:id/category">テスト対策</a>
                  </li>
              </ul>
            </span>
          </div>

          <% if guider_signed_in? %>
          <div class="guider_nav">
            <span style="top: 18px; margin-top: 0px;"><%= current_guider.nickname %>
              <ul>
                  <li class="category">
                    <a class="guider-category", href="/guiders/<%= current_guider.id%>/edit ">マイページ</a>
                    <a class="guider-category", href="/guiders/<%= current_guider.id %>/go">問い合わせ</a>
                    <%= link_to "ログアウト", destroy_guider_session_path, method: :delete, class: 'guider-category' %>
                  </li>
              </ul>
            </span>
            <a class="plan" href="/guiders/:id/post">投稿</a>
          </div>
          
        <% end %>

        <% if ! (guider_signed_in? or tourist_signed_in?) %>
         
            <div style="display: inline-block; width: 443px; text-align: right;">
             <li class="category-id"><%= link_to "新規登録", new_guider_registration_path, class: 'post' %></li>
             <li class="category-id"><%= link_to "ログイン", new_guider_session_path, class: 'post' %></li>
            </div>
             
          
        <% end %>
       
        
        </div>

        

       <div class="mbar">
      </div>
     </div>
    </header>

    <%= yield %>
</div>
<!-- タブレット用 -->

<!-- 携帯用 -->
<div class="sp1">
  <header>
    <div class="head-container">
       <nav class="headed">
         <li class="left">
           <div class="fine">

            <div class="full_max">
              <div class="full">
                 <h1 class="eureka"><a style="color: #E47911; width: 130px; text-align: left; padding-top: 4px;" href="/plans/:id/top">ユリイカ</a></h1>
                 <% if ! (guider_signed_in? or tourist_signed_in?) %>
                 <div style="display: inline-block; width: 443px; text-align: right;">
                    <li class="category-id up "><%= link_to "新規登録", new_guider_registration_path, class: 'post' %></li>
                    <li class="category-id loss"><%= link_to "ログイン", new_guider_session_path, class: 'post' %></li>
                 </div>
                 <% end %>
                 <% if guider_signed_in? %>
                  <div class="guider_nav sp1">
                   
                    <span style="margin-top: 0px; top: -5px; width: 215px;">
                      <a href="/guiders/:id/top_assistant" style="color: #E47911;">
                        <%= current_guider.nickname %>
                      </a>
                    </span>
                   
                  </div>
                 <% end %>
              </div>
            </div>
           <div>
         </li>
        </nav>
        <div class="sp1">
        <nav class="headed">
          <li class="left">
            <div class="fine">

              <div class="full_max">
                <div class="full1">
                <%= form_tag plans_path, :method => 'get', :class => 'gopro' do %>
                   <div class="question_answer"><%= text_field_tag :search, params[:search], class: "fun_interview", placeholder: '' %></div>
                   <div class="interview_answer"><%= submit_tag "", :name => nil, class: "interview" %></div>
                <% end %>
                </div>
              </div>
            <div>
          </li>
       </nav>
       </div>
       <div class="all-star sp1" style="margin-bottom: 10px;">
          <div style="text-align: center; display: inline-block; width: 200px;">
            <i class="fas fa-bars"></i>
            <a class="category-id" href="/categorys">カテゴリー<br /></a>
          </div>
          <div style="text-align: center; display: inline-block; width: 200px; ">
              <i class="fas fa-book" style="margin-left: 15px;"></i>
              <div class="getgo_nav">
           
                 <span class="fas fa-rule" style="display: inline-block;" >サービス
                    <ul>
                      <li class="category">
                         <a class="guider-category" href="/plans" >フリマ</a>
                         <a class="guider-category" href="/tests">スキルアップ</a>
                         <a class="guider-category" href="/professions/:id/category">テスト対策</a>
                      </li>
                    </ul>
                 </span>
              </div>
          </div>
       </div>
        

       <div class="mbar sp1">
       </div>
    </div>
  </header>
  <%= yield %>
</div>

<div class="pc">
<div class="agreement">
 <h2 class="accept">ユリイカ利用規約</h2>
 <div class="accepted">
  <p>
   本規約は、ユリイカ（以下「当店」といいます）が運営する「ユリイカ」において、当店が提供する各種サービス（以下「本サービス」といいます）の利用にあたる諸条件を定めるものです。当店が本規約に定める方法で本サービスの利用登録を申し込み本サービスの利用を承認された方（以下「会員」といいます）は、本規約に同意したものとみなされます。なお、本規約は変更される場合があります。会員様には、最新の規約内容をご確認いただきますようお願い申し上げます。
  </p>
  <h3 class="accept-1">
   第1条（サービス概要）
  </h3>
  <p>
   1．本サービスとは、当店が運営するインターネット上のWebサイト「ユリイカß」（以下「本サイト」といいます）を通じて提供する、書籍（当店が認証する「大学において、授業の主たる教材として用いられる図書」に限ります）のオンラインフリーマーケットサービスおよびこれに付随したサービスをいいます。なお、当店が提供するオンラインフリーマーケットサービスとは、会員様間の書籍売買契約成立前後にわたる一切の情報伝達ならびに書籍授受および代金授受が円滑に行われるためのサービスをいいます。本サービスは、次項および第３項に定める手順に従って提供されるものとします。
  </p>
  <p>
   2．当店は、本サイトにて会員様に告知するサービスガイドおよびヘルプ等の諸規定（以下、「諸規定」といいます）に定める方法で、会員様間の書籍売買にかかる契約成立の機会を提供します。会員様間の書籍売買にかかる契約は、取引条件に関する双方の意思が合致したときに成立します。
  </p>
  <p>
   3．当店は、本サイトを通した契約締結ならびに契約成立後の書籍授受および代金授受など、本サービスを利用した場合の会員様間の書籍売買に関わる一切の行為（以下、「書籍取引」といいます）の方法について、諸規定に定めます。会員様は、諸規定に定められた方法で書籍取引を行わなければなりません。また、会員様は、本サービスの利用にあたり、関係法令および監督省庁のガイドラインを順守する義務を負います。
  </p>
  <p>
   4．当店は、会員様から提供された書籍の情報に対し、諸規定に定める方法で認証の可否いずれかの判断を下します。認証された書籍の情報は、本サイトに公開され、その公開後に会員様間の書籍売買契約が可能となります。
  </p>
  <p>
   5．当店が提供するオンラインフリーマーケットサービスは、当店が自ら書籍売買を行うものではなく、書籍売買の委託を受けるものでもありません。当店は、諸規定中に別段の定めがある場合を除き、会員様間の書籍売買契約の取消、解約、返金、保証など、取引の遂行には一切関与しません。
  </p>
  <p>
   6．当店は、会員様が本サービスを利用するにあたり、書籍認証、書籍売買契約成立・履行、会員登録情報変更、パスワード変更、本サービス利用登録の一時停止など、諸規定に定める事項の受付・処理を完了した場合、会員様に電子メールを送付することで、その旨を通知します。
  </p>
  <p>
   6．当店は、会員様の本サービス利用登録の解除（以下「サービス解除」といいます）の受付および処理を完了した場合、サービス解除をした元会員様に電子メールを送付することで、その旨を通知します。
  </p>


  <h3 class="accept-1">
   第2条（本規約の範囲と変更）
  </h3>
  <p>
   1．会員様は、本サービスの利用に関して、本規約および諸規定の全てに従うものとします。
  </p>
  <p>
  2．当店が、本サイトにて随時お客様に告知する諸規定は、本規約の一部を構成するものとします。
  </p>
  <p>
   3．本規約と諸規定の定めが異なる場合は、諸規定の定めが優先的に適用されます。
  </p>
  <p>
  4．当店は、会員様の承諾を得ることなく、本規約および諸規定の変更（以下「規約変更」といいます）をいつでも行うことができます。
  </p>
  <p>
   5．当店は、規約変更を行う場合、変更後の本規約および諸規定（以下「変更後規約」といいます）の内容を、本サイトにてお客様に告知します。
  </p>
  <p>
   6．規約変更の効力は、本サイトに変更後規約が提出された後、10日間の予告期間の満了をもって発生するものとします。
  </p>

  <h3 class="accept-1">
   第3条（利用登録）
  </h3>
  <p>
   1．本サービスを利用するためには、本サイトの「会員登録情報入力画面」にて、当店が諸規定に定める事項を入力し、当店による利用承認を受ける必要があります。
  </p>
  <p>
   2．次の各号いずれかに該当する方は、会員になることはできません。
  </p>
  <p>
 （1）満18歳未満の方
  </p>
  <p>
 （2）当店が諸規定に定める大学に所属する学部生または大学院生ではない方
  </p>
  <p>
 （3）当店が諸規定に定める本サービスの有効な決済手段を利用できない方
  </p>
  <p>
 （4）有効な電子メールアドレスを所有していない方
  </p>
  <p>
 （5）すでに利用登録を完了した会員様
  </p>
  <p>
 （6）本規約にご同意いただけない方
  </p>
  <p>
  3．当店は、利用登録申請者が次の各号いずれかに該当する場合、利用承認を行わないことがあります。
  </p>
  <p>
 （1）日本在住でない方
  </p>
  <p>
 （2）利用登録申請内容に虚偽、誤記または記入漏れがある方
  </p>
  <p>
 （3）過去に本規約違反などにより、強制的に利用登録を解除された方
  </p>
  <p>
 （4）その他、当店が会員として不適当と判断した方
  </p>
  <p>
  4．当店は、会員様が第２項または前項各号いずれかに該当することが利用承認後に判明した場合、利用登録の一時停止または利用承認の取り消しを行うことができるものとします。
  </p>
  <p>
  5．利用登録申請者および会員様は、利用登録申請内容が、常にご自身の正確な情報であるように管理および修正を行う責任を負います。
  </p>
 
  <h3 class="accept-1">
   第4条（会員認証・パスワード管理）
  </h3>
  <p>
  1．当店は、会員様が事前に設定した電子メールアドレスとパスワードの組み合わせによって、会員様を認証します。会員様は、電子メールアドレスとパスワードの組み合わせを使用することで、本サービスを利用することが可能になります。
  </p>
  <p>
  2．会員様は、本サービスの利用にあたり、自己の電子メールアドレスおよびパスワードを第三者に使用させることはできません。
  </p>
  <p>
  3．会員様は、自己の電子メールアドレスおよびパスワードの管理と使用について、一切の責任を負います。
  </p>
  <p>
  4．会員様は、設定した電子メールアドレスまたはパスワードを失念した場合、直ちに諸規定に定められた方法で当店に届け出るものとします。
  </p>

  <h3 class="accept-1">
   第5条（サービス利用料金）
  </h3>
  <p>
   1．会員様は、本サービスの利用にあたり、以下の利用料金を支払うものとします。
  </p>
  <p>
  （1）書籍売買システム利用料
  </p>
  <p>
   書籍出品者は、当該書籍の落札が完了した時点で、お支払いいただく義務が発生します。
  </p>
  <p>
  （2）書籍出品取消システム利用料
  </p>
  <p>
   書籍出品者は、当該書籍が他の会員様に入札された後に出品の取り消しを行った場合、お支払いいただく義務が発生します。
  </p>
  <p>
   ２．会員様は、当店が諸規定に定めた算出方法による利用料金を支払うものとします。
  </p>
  <p>
   ３．会員様は、当店が諸規定に定めた方法で、支払い義務が発生した利用料金を支払うものとします。
  </p>
  <p>
   ４．会員様は、前項に定められた利用料金の支払い義務が発生した場合、いかなる場合でも過不足なく支払わなければなりません。
  </p>
  <p>
   ５．当店は、会員様が当店への支払い義務に基づき当店に支払われた利用料金については、一切返金しません。
  </p>
  <p>
   ６．当店は、会員様が正当な事由なく第１項～第５項に違反した場合、当該利用料金の支払期日より４週間経過したのちに、相応の法的措置をとることがあります。
  </p>

  <h3 class="accept-1">
   第6条（知的財産権の利用と保護）
  </h3>
  <p>
   1．会員様は、本サイトに掲載される書籍情報その他当店が提供する情報・データ等を、著作権法で認められた私的利用の範囲を超えて利用することはできません。
  </p>
  <p>
   2．当店は、当店が提供するデータ等について、その完全性、正確性、適用性、有用性等について一切保証しません。
  </p>
  <p>
   3．会員様は、本サイトに、書籍に関する情報や感想、見解等（以下、「会員著作文書」といいます）を登録することができます。会員様は、次の各号いずれかに該当する会員著作文書等を、本サイトに登録することができません。
  </p>
  <p>
  （1）公序良俗や法律に反するもの
  </p>
  <p>
  （2）犯罪的行為に結びつくもの
  </p>
  <p>
  （3）選挙活動およびこれに類する行為、またはその他の政治もしくは宗教活動に関するもの
  </p>
  <p>
  （4）本サイトを通じてまたは本サイトに関連して、営利を目的とするまたはその準備を目的とするもの
  </p>
  <p>
  （5）他の会員様または第三者の著作権、営業秘密、パブリシティ―その他の財産権もしくは名誉、プライバシー等の人格権を侵害するもの
  </p>
  <p>
  （6）他の会員様または第三者に不快感や不利益を与えたり誹謗中傷したりするもの
  </p>
  <p>
  （7）本サービスの円滑な運営を妨げるもの
  </p>
  <p>
  （8）その他、当店が不適切と判断したもの
  </p>
  <p>
   4．会員様は、本サイトに登録した会員著作文書等の著作権を、当店に譲渡するものとします。
  </p>
  <p>
   5．当店は、本サイトに登録された会員著作文書等の内容が第3項に該当もしくは該当する恐れがあると判断した場合、当該文書作成者に通知することなく、かかる文書等を変更または削除することができるものとします。
  </p>
  <h3 class="accept-1">
   第7条（強制サービス解除）
  </h3>
  <p>
   1．会員様が次の各号いずれかに該当すると当店が判断した場合、当店は、当該会員様に事前に通知することなく、強制的にサービス解除または本サービスの利用を一時停止することができるものとします。
  </p>
  <p>
  （1）本サイトのサーバーの不正利用または改ざんを行った場合
  </p>
  <p>
  （2）他の会員様のログインIDまたはパスワードを不正に使用した場合
  </p>
  <p>
  （3）本サービスを利用したことによる契約の履行を遅滞し、または拒否した場合
  </p>
  <p>
  （4）本サービスの利用にあたり、虚偽の情報を提供した場合
  </p>
  <p>
   (5) 会員様の指定した支払い手段の利用が停止させられた場合
  </p>
  <p>
  （6）本規約に違反した場合
  </p>
  <p>
  （7）本規約を遵守しない旨を公言した場合
  </p>
  <p>
  （8）違法な行為を行った場合
  </p>
  <p>
  （9）会員様に本サービスを提供する上で著しい支障がある、もしくは支障が生じる恐れがあると当社が判断した場合
  </p>
  <p>
  （10） 重複して利用登録を行った場合
  </p>
  <p>
  （11） 第３条第２項または第３項各号のいずれかに該当することが利用登録承認後に判明した場合
  </p>
  <p>
  （12） 本サービスの運営を妨げる行為、誹謗する行為を行った場合
  </p>
  <p>
  （13） その他当店が、会員として不適当と判断した場合
  </p>
  <p>
   ２．会員様は、強制的にサービス解除された場合、期限の利益を喪失し、強制解除までに発生した本サービスの利用料金の支払い債務を、一括して直ちに支払うものとします。
  </p>

  <h3 class="accept-1">
   第8条（免責事項）
  </h3>
  <p>
   １．当店は、以下の事由により会員様が被ったいかなる損害に対しても、その理由を問わず一切の責任を負いません。また、以下の事由により会員様が当店に損害を与えた場合、当事者は連帯して当店に当該損害を賠償するものとします。なお、以下の事由により会員様に発生した支払い義務は免除されず、既に決済が行われた料金は返金しません。
  </p>
  <p>
  （1）会員様間の書籍取引に関する当事者間での問題が生じた場合
  </p>
  <p>
  （2）本サービスに出品される商品等の品質、安全性、または適法性等についての不具合、または瑕疵が生じた場合
  </p>
  <p>
  （3）会員著作文書の信頼性、精度、または適法性等についての問題が生じた場合
  </p>
  <p>
  （4）第6条第5項に基づき、当店が会員著作文書を変更または削除した場合
  </p>
  <p>
  （5） インターネットの通信環境、PC、視聴機器等、会員様の利用環境に起因して本サービスの利用に問題が生じた場合。
  </p>
  <p>
  （6） 本サイトへのアクセス集中により、本サービスの利用に問題が生じた場合。
  </p>
   <p>
   （7） 会員様が登録したお届け先住所、氏名、電子メールアドレス等の登録情報の誤りがあった場合。
  </p>
   <p>
   （8） 会員様の電子メールアドレスまたはパスワードの使用に関する問題が生じた場合
   </p>
   <p>
   （9） 当店が会員様に送付した電子メールが不着であった場合
   </p>
   <p>
   （10）第7条第１項に基づき、当店が強制的にサービス解除または本サービスの利用を一時停止した場合
  </p>
   <p>
   （11）その他、本サービスに関連して、会員様または第三者に結果的損害、付随的損害、逸失損害等の間接損害が生じた場合
  </p>
   <p>
    ２．会員様の損害が当店の重過失もしくは故意による場合、または会員様が消費者契約法上の消費者に該当する場合は、前項の限りではありません。
  </p>
   <p>
    ３．本サービスの利用に関して当店が損害賠償責任を負う場合、会員様が当店に本サービスの利用対価として支払った総額を限度額として、賠償責任を負うものとします。
  </p>

  <h3 class="accept-1">
   第9条（損害賠償請求）
  </h3>
  <p>
   １．当店は、会員様が、本規約に定める事項または本規約の趣旨に違反する行為を行ったと判断した場合、当該会員様に事前に通知することなく、相応の法的手段をとる権利を有するものとします。
  </p>

  <h3 class="accept-1">
   第10条（サービス中断・終了）
  </h3>
  <p>
   １．当店は、次の各号いずれかに該当する場合、本サービスを中断できるものとします。
  </p>
  <p>
  （1）本サービスのシステム保守を定期的または緊急に行う場合
  </p>
  <p>
  （2） 戦争、暴動、騒乱、労働争議、地震、噴火、洪水、津波、火災、停電その他の非常事態により、本サービスの提供が通常通りできない場合
  </p>
  <p>
  （3） 本サービスの提供が、技術的に困難または不可能となった場合
  </p>
  <p>
  （4）法令等に基づく措置により、本サービスの提供が不可能となった場合
  </p>
  <p>
  （5)その他、当店が、本サービスの運営上、一時的な中断が必要と判断した場合
  </p>
  <p>
   ２．当店は、前項により、本サービスを中断するときは、事前にその旨を会員様に通知するものとします。ただし、緊急やむを得ない場合は、この限りではありません。
  </p>
  <p>
   ３．当店は、本サービスの中断や、システムおよび通信環境の障害などの発生により、会員様が被ったいかなる損害についても、理由を問わず一切の責任を負いません。
  </p>
  <p>
   ４．当店は、やむを得ない場合その他本サービスの運営上の理由により、本サービスを終了できるものとします。
  </p>
  <p>
   ５．当店は、前項の規定により本サービスを終了するときは、事前にその旨を会員様に通知するものとします。ただし、緊急やむを得ない場合には、この限りでありません。
  </p>
  <p>
   ６．当店は、前項の手続きを経た場合、会員様が被ったいかなる損害についても、理由を問わず一切の責任を負いません。
  </p>
  <p>
   ７．会員様は、当店が本サービスを中断または終了した場合でも、当該日までの本サービスを利用したことによる会員様間の契約を履行する義務があります。
  </p>
  <p>
   ８．会員様は、当店が本サービスを中断または終了した場合でも、当該日までの本サービス利用料金を当店に支払う義務があります。
  </p>

  <h3 class="accept-1">
   第11条（個人情報保護）
  </h3>
  <p>
   １．当店は本サイトおよび本サービスを運営するにあたり、以下の個人情報を取得します。
  </p>
  <p> 
  （1）利用登録お申し込み時の利用登録内容（変更のお申し出の内容を含みます）
  </p>
  <p>
  ・氏名
   </p>
   <p>
  ・性別
   </p>
   <p>
  ・生年月日
   </p>
   <p>
  ・住所（自宅住所および売買書籍の送付先住所）
   </p>
   <p>
  ・電話番号
   </p>
   <p>
  ・電子メールアドレス
   </p>
   <p>
  ・クレジットカード番号等、選択した決済方法に応じた情報
   </p>
   <p>
  ・その他当社が定める入力フォームに利用登録申請者が入力する情報
   </p>
   <p>
   （2）会員様による本サイトおよび本サービスの利用に関連して取得する情報
   </p>
   <p>
   ・アンケートへの回答内容、本サイト上の閲覧履歴・検索履歴等の行動履歴、その他の本サイトおよび本サービスの利用履歴情報等
   </p>
   <p>
   （3）会員様が本サイトへアクセスしたことを契機として機械的に取得する情報
   </p>
   <p>
   ・IPアドレス、ドメイン名
   </p>
   <p>
   ・ブラウザの種類・バージョン、オペレーティングシステム・バージョン、使用言語、場所
   </p>
   <p>
   ・端末情報（PC、携帯電話、スマートフォン、携帯のキャリア、機種情報、個体識別情報など）
   </p>
    <p>
    （4）当店が会員様よりご意見、ご要望、お問合せ等を受けた場合において、当該お問合せ等の内容、氏名、電子メールアドレス、その他のお問合せ等への対応に必要な情報
   </p>
    <p>
    （5）ログインID等、個人別に付与された番号・記号その他の符号
   </p>
    <p>
    （6）その他当店が適法に取得または保有する個人情報
   </p>
    <p>
    ２．当店は、本条第１項に定める個人情報を、諸規約および以下の条件に従って取り扱うものとします。
   </p>
    <p>
   （1）利用目的
   </p>
    <p>
    ①本サービスの提供、維持、保護および改善のため
   </p>
    <p>
    ②書籍提案等を目的とする会員様の情報分析のため
   </p>
   <p>
    ③会員様に対して、電子メールその他の各種通知手段によって、書籍提案等を行うため
   </p>
    <p>
    ④本サービスの変更の場合に、それぞれの後継サービスへの引継やそれらに関連する業務を行うため
   </p>
    <p>
    ⑤各種取引の履行のため
   </p>
    <p>
    ⑥会員様からのご意見、ご要望、お問合せ等に対し適切に対応するため
   </p>
    <p>
    ⑦不正利用の防止・調査のため
   </p>
    <p>
    ⑧その他本サイトおよび本サービスの円滑な運営のため
   </p>
    <p>
    ⑨その他上記各利用目的に準ずるか、これらに密接に関連する目的のため
   </p>
    <p>
    ※サービス解除後においても、当店は、上記⑤記載の利用目的のために、当社取得個人情報を利用することができるものとします。
   </p>
   <p>
   （2）第三者への提供
   </p>
   <p>
    当店は、本条第３項および法令等で定められた場合を除き、あらかじめご本人からご同意いただかない限り、第三者に個人情報を提供いたしません。
   </p>
   <p>
   （3）個人情報の苦情・相談への対応
   </p>
   <p>
    会員様が自己の個人情報について、個人情報保護法その他関連法令に基づく利用目的の通知、開示、訂正、追加、削除、利用の停止、消去または第三者への情報提供の停止を求める場合には、当店が諸規定に定める方法でお問い合わせください。
   </p>
   <p>
    ３．本条の記載内容にご同意いただけない場合には、本サービスの利用登録をお断りすることや、利用登録完了後に強制解除の手続きをとらせていただくことがあります。
   </p>

   <h3>
    第12条（準拠法・合意管轄）
   </h3>
   <p>
    １．本規約の準拠法は、日本法とします。
   </p>
   <p>
    ２．本規約に関して紛争が生じた場合、訴額に応じて大阪簡易裁判所または大阪地方裁判所を第一審の専属的合意管轄裁判所とします。当該紛争に関連した費用は、当事者で連帯して負担することに同意するものとします。
   </p>
   <p style="text-align: center;">
    以上
   </p>
   <p style="text-align: right;">
    2019年8月31日制定
   </p>

 </div>

</div>
</div>

<div class="sp">
<div class="agreement">
 <h2 class="accept">ユリイカ利用規約</h2>
 <div class="accepted">
  <p>
   本規約は、ユリイカ（以下「当店」といいます）が運営する「ユリイカ」において、当店が提供する各種サービス（以下「本サービス」といいます）の利用にあたる諸条件を定めるものです。当店が本規約に定める方法で本サービスの利用登録を申し込み本サービスの利用を承認された方（以下「会員」といいます）は、本規約に同意したものとみなされます。なお、本規約は変更される場合があります。会員様には、最新の規約内容をご確認いただきますようお願い申し上げます。
  </p>
  <h3 class="accept-1">
   第1条（サービス概要）
  </h3>
  <p>
   1．本サービスとは、当店が運営するインターネット上のWebサイト「ユリイカ」（以下「本サイト」といいます）を通じて提供する、書籍（当店が認証する「大学において、授業の主たる教材として用いられる図書」に限ります）のオンラインフリーマーケットサービスおよびこれに付随したサービスをいいます。なお、当店が提供するオンラインフリーマーケットサービスとは、会員様間の書籍売買契約成立前後にわたる一切の情報伝達ならびに書籍授受および代金授受が円滑に行われるためのサービスをいいます。本サービスは、次項および第３項に定める手順に従って提供されるものとします。
  </p>
  <p>
   2．当店は、本サイトにて会員様に告知するサービスガイドおよびヘルプ等の諸規定（以下、「諸規定」といいます）に定める方法で、会員様間の書籍売買にかかる契約成立の機会を提供します。会員様間の書籍売買にかかる契約は、取引条件に関する双方の意思が合致したときに成立します。
  </p>
  <p>
   3．当店は、本サイトを通した契約締結ならびに契約成立後の書籍授受および代金授受など、本サービスを利用した場合の会員様間の書籍売買に関わる一切の行為（以下、「書籍取引」といいます）の方法について、諸規定に定めます。会員様は、諸規定に定められた方法で書籍取引を行わなければなりません。また、会員様は、本サービスの利用にあたり、関係法令および監督省庁のガイドラインを順守する義務を負います。
  </p>
  <p>
   4．当店は、会員様から提供された書籍の情報に対し、諸規定に定める方法で認証の可否いずれかの判断を下します。認証された書籍の情報は、本サイトに公開され、その公開後に会員様間の書籍売買契約が可能となります。
  </p>
  <p>
   5．当店が提供するオンラインフリーマーケットサービスは、当店が自ら書籍売買を行うものではなく、書籍売買の委託を受けるものでもありません。当店は、諸規定中に別段の定めがある場合を除き、会員様間の書籍売買契約の取消、解約、返金、保証など、取引の遂行には一切関与しません。
  </p>
  <p>
   6．当店は、会員様が本サービスを利用するにあたり、書籍認証、書籍売買契約成立・履行、会員登録情報変更、パスワード変更、本サービス利用登録の一時停止など、諸規定に定める事項の受付・処理を完了した場合、会員様に電子メールを送付することで、その旨を通知します。
  </p>
  <p>
   6．当店は、会員様の本サービス利用登録の解除（以下「サービス解除」といいます）の受付および処理を完了した場合、サービス解除をした元会員様に電子メールを送付することで、その旨を通知します。
  </p>


  <h3 class="accept-1">
   第2条（本規約の範囲と変更）
  </h3>
  <p>
   1．会員様は、本サービスの利用に関して、本規約および諸規定の全てに従うものとします。
  </p>
  <p>
  2．当店が、本サイトにて随時お客様に告知する諸規定は、本規約の一部を構成するものとします。
  </p>
  <p>
   3．本規約と諸規定の定めが異なる場合は、諸規定の定めが優先的に適用されます。
  </p>
  <p>
  4．当店は、会員様の承諾を得ることなく、本規約および諸規定の変更（以下「規約変更」といいます）をいつでも行うことができます。
  </p>
  <p>
   5．当店は、規約変更を行う場合、変更後の本規約および諸規定（以下「変更後規約」といいます）の内容を、本サイトにてお客様に告知します。
  </p>
  <p>
   6．規約変更の効力は、本サイトに変更後規約が提出された後、10日間の予告期間の満了をもって発生するものとします。
  </p>

  <h3 class="accept-1">
   第3条（利用登録）
  </h3>
  <p>
   1．本サービスを利用するためには、本サイトの「会員登録情報入力画面」にて、当店が諸規定に定める事項を入力し、当店による利用承認を受ける必要があります。
  </p>
  <p>
   2．次の各号いずれかに該当する方は、会員になることはできません。
  </p>
  <p>
 （1）満18歳未満の方
  </p>
  <p>
 （2）当店が諸規定に定める大学に所属する学部生または大学院生ではない方
  </p>
  <p>
 （3）当店が諸規定に定める本サービスの有効な決済手段を利用できない方
  </p>
  <p>
 （4）有効な電子メールアドレスを所有していない方
  </p>
  <p>
 （5）すでに利用登録を完了した会員様
  </p>
  <p>
 （6）本規約にご同意いただけない方
  </p>
  <p>
  3．当店は、利用登録申請者が次の各号いずれかに該当する場合、利用承認を行わないことがあります。
  </p>
  <p>
 （1）日本在住でない方
  </p>
  <p>
 （2）利用登録申請内容に虚偽、誤記または記入漏れがある方
  </p>
  <p>
 （3）過去に本規約違反などにより、強制的に利用登録を解除された方
  </p>
  <p>
 （4）その他、当店が会員として不適当と判断した方
  </p>
  <p>
  4．当店は、会員様が第２項または前項各号いずれかに該当することが利用承認後に判明した場合、利用登録の一時停止または利用承認の取り消しを行うことができるものとします。
  </p>
  <p>
  5．利用登録申請者および会員様は、利用登録申請内容が、常にご自身の正確な情報であるように管理および修正を行う責任を負います。
  </p>
 
  <h3 class="accept-1">
   第4条（会員認証・パスワード管理）
  </h3>
  <p>
  1．当店は、会員様が事前に設定した電子メールアドレスとパスワードの組み合わせによって、会員様を認証します。会員様は、電子メールアドレスとパスワードの組み合わせを使用することで、本サービスを利用することが可能になります。
  </p>
  <p>
  2．会員様は、本サービスの利用にあたり、自己の電子メールアドレスおよびパスワードを第三者に使用させることはできません。
  </p>
  <p>
  3．会員様は、自己の電子メールアドレスおよびパスワードの管理と使用について、一切の責任を負います。
  </p>
  <p>
  4．会員様は、設定した電子メールアドレスまたはパスワードを失念した場合、直ちに諸規定に定められた方法で当店に届け出るものとします。
  </p>

  <h3 class="accept-1">
   第5条（サービス利用料金）
  </h3>
  <p>
   1．会員様は、本サービスの利用にあたり、以下の利用料金を支払うものとします。
  </p>
  <p>
  （1）書籍売買システム利用料
  </p>
  <p>
   書籍出品者は、当該書籍の落札が完了した時点で、お支払いいただく義務が発生します。
  </p>
  <p>
  （2）書籍出品取消システム利用料
  </p>
  <p>
   書籍出品者は、当該書籍が他の会員様に入札された後に出品の取り消しを行った場合、お支払いいただく義務が発生します。
  </p>
  <p>
   ２．会員様は、当店が諸規定に定めた算出方法による利用料金を支払うものとします。
  </p>
  <p>
   ３．会員様は、当店が諸規定に定めた方法で、支払い義務が発生した利用料金を支払うものとします。
  </p>
  <p>
   ４．会員様は、前項に定められた利用料金の支払い義務が発生した場合、いかなる場合でも過不足なく支払わなければなりません。
  </p>
  <p>
   ５．当店は、会員様が当店への支払い義務に基づき当店に支払われた利用料金については、一切返金しません。
  </p>
  <p>
   ６．当店は、会員様が正当な事由なく第１項～第５項に違反した場合、当該利用料金の支払期日より４週間経過したのちに、相応の法的措置をとることがあります。
  </p>

  <h3 class="accept-1">
   第6条（知的財産権の利用と保護）
  </h3>
  <p>
   1．会員様は、本サイトに掲載される書籍情報その他当店が提供する情報・データ等を、著作権法で認められた私的利用の範囲を超えて利用することはできません。
  </p>
  <p>
   2．当店は、当店が提供するデータ等について、その完全性、正確性、適用性、有用性等について一切保証しません。
  </p>
  <p>
   3．会員様は、本サイトに、書籍に関する情報や感想、見解等（以下、「会員著作文書」といいます）を登録することができます。会員様は、次の各号いずれかに該当する会員著作文書等を、本サイトに登録することができません。
  </p>
  <p>
  （1）公序良俗や法律に反するもの
  </p>
  <p>
  （2）犯罪的行為に結びつくもの
  </p>
  <p>
  （3）選挙活動およびこれに類する行為、またはその他の政治もしくは宗教活動に関するもの
  </p>
  <p>
  （4）本サイトを通じてまたは本サイトに関連して、営利を目的とするまたはその準備を目的とするもの
  </p>
  <p>
  （5）他の会員様または第三者の著作権、営業秘密、パブリシティ―その他の財産権もしくは名誉、プライバシー等の人格権を侵害するもの
  </p>
  <p>
  （6）他の会員様または第三者に不快感や不利益を与えたり誹謗中傷したりするもの
  </p>
  <p>
  （7）本サービスの円滑な運営を妨げるもの
  </p>
  <p>
  （8）その他、当店が不適切と判断したもの
  </p>
  <p>
   4．会員様は、本サイトに登録した会員著作文書等の著作権を、当店に譲渡するものとします。
  </p>
  <p>
   5．当店は、本サイトに登録された会員著作文書等の内容が第3項に該当もしくは該当する恐れがあると判断した場合、当該文書作成者に通知することなく、かかる文書等を変更または削除することができるものとします。
  </p>
  <h3 class="accept-1">
   第7条（強制サービス解除）
  </h3>
  <p>
   1．会員様が次の各号いずれかに該当すると当店が判断した場合、当店は、当該会員様に事前に通知することなく、強制的にサービス解除または本サービスの利用を一時停止することができるものとします。
  </p>
  <p>
  （1）本サイトのサーバーの不正利用または改ざんを行った場合
  </p>
  <p>
  （2）他の会員様のログインIDまたはパスワードを不正に使用した場合
  </p>
  <p>
  （3）本サービスを利用したことによる契約の履行を遅滞し、または拒否した場合
  </p>
  <p>
  （4）本サービスの利用にあたり、虚偽の情報を提供した場合
  </p>
  <p>
   (5) 会員様の指定した支払い手段の利用が停止させられた場合
  </p>
  <p>
  （6）本規約に違反した場合
  </p>
  <p>
  （7）本規約を遵守しない旨を公言した場合
  </p>
  <p>
  （8）違法な行為を行った場合
  </p>
  <p>
  （9）会員様に本サービスを提供する上で著しい支障がある、もしくは支障が生じる恐れがあると当社が判断した場合
  </p>
  <p>
  （10） 重複して利用登録を行った場合
  </p>
  <p>
  （11） 第３条第２項または第３項各号のいずれかに該当することが利用登録承認後に判明した場合
  </p>
  <p>
  （12） 本サービスの運営を妨げる行為、誹謗する行為を行った場合
  </p>
  <p>
  （13） その他当店が、会員として不適当と判断した場合
  </p>
  <p>
   ２．会員様は、強制的にサービス解除された場合、期限の利益を喪失し、強制解除までに発生した本サービスの利用料金の支払い債務を、一括して直ちに支払うものとします。
  </p>

  <h3 class="accept-1">
   第8条（免責事項）
  </h3>
  <p>
   １．当店は、以下の事由により会員様が被ったいかなる損害に対しても、その理由を問わず一切の責任を負いません。また、以下の事由により会員様が当店に損害を与えた場合、当事者は連帯して当店に当該損害を賠償するものとします。なお、以下の事由により会員様に発生した支払い義務は免除されず、既に決済が行われた料金は返金しません。
  </p>
  <p>
  （1）会員様間の書籍取引に関する当事者間での問題が生じた場合
  </p>
  <p>
  （2）本サービスに出品される商品等の品質、安全性、または適法性等についての不具合、または瑕疵が生じた場合
  </p>
  <p>
  （3）会員著作文書の信頼性、精度、または適法性等についての問題が生じた場合
  </p>
  <p>
  （4）第6条第5項に基づき、当店が会員著作文書を変更または削除した場合
  </p>
  <p>
  （5） インターネットの通信環境、PC、視聴機器等、会員様の利用環境に起因して本サービスの利用に問題が生じた場合。
  </p>
  <p>
  （6） 本サイトへのアクセス集中により、本サービスの利用に問題が生じた場合。
  </p>
   <p>
   （7） 会員様が登録したお届け先住所、氏名、電子メールアドレス等の登録情報の誤りがあった場合。
  </p>
   <p>
   （8） 会員様の電子メールアドレスまたはパスワードの使用に関する問題が生じた場合
   </p>
   <p>
   （9） 当店が会員様に送付した電子メールが不着であった場合
   </p>
   <p>
   （10）第7条第１項に基づき、当店が強制的にサービス解除または本サービスの利用を一時停止した場合
  </p>
   <p>
   （11）その他、本サービスに関連して、会員様または第三者に結果的損害、付随的損害、逸失損害等の間接損害が生じた場合
  </p>
   <p>
    ２．会員様の損害が当店の重過失もしくは故意による場合、または会員様が消費者契約法上の消費者に該当する場合は、前項の限りではありません。
  </p>
   <p>
    ３．本サービスの利用に関して当店が損害賠償責任を負う場合、会員様が当店に本サービスの利用対価として支払った総額を限度額として、賠償責任を負うものとします。
  </p>

  <h3 class="accept-1">
   第9条（損害賠償請求）
  </h3>
  <p>
   １．当店は、会員様が、本規約に定める事項または本規約の趣旨に違反する行為を行ったと判断した場合、当該会員様に事前に通知することなく、相応の法的手段をとる権利を有するものとします。
  </p>

  <h3 class="accept-1">
   第10条（サービス中断・終了）
  </h3>
  <p>
   １．当店は、次の各号いずれかに該当する場合、本サービスを中断できるものとします。
  </p>
  <p>
  （1）本サービスのシステム保守を定期的または緊急に行う場合
  </p>
  <p>
  （2） 戦争、暴動、騒乱、労働争議、地震、噴火、洪水、津波、火災、停電その他の非常事態により、本サービスの提供が通常通りできない場合
  </p>
  <p>
  （3） 本サービスの提供が、技術的に困難または不可能となった場合
  </p>
  <p>
  （4）法令等に基づく措置により、本サービスの提供が不可能となった場合
  </p>
  <p>
  （5)その他、当店が、本サービスの運営上、一時的な中断が必要と判断した場合
  </p>
  <p>
   ２．当店は、前項により、本サービスを中断するときは、事前にその旨を会員様に通知するものとします。ただし、緊急やむを得ない場合は、この限りではありません。
  </p>
  <p>
   ３．当店は、本サービスの中断や、システムおよび通信環境の障害などの発生により、会員様が被ったいかなる損害についても、理由を問わず一切の責任を負いません。
  </p>
  <p>
   ４．当店は、やむを得ない場合その他本サービスの運営上の理由により、本サービスを終了できるものとします。
  </p>
  <p>
   ５．当店は、前項の規定により本サービスを終了するときは、事前にその旨を会員様に通知するものとします。ただし、緊急やむを得ない場合には、この限りでありません。
  </p>
  <p>
   ６．当店は、前項の手続きを経た場合、会員様が被ったいかなる損害についても、理由を問わず一切の責任を負いません。
  </p>
  <p>
   ７．会員様は、当店が本サービスを中断または終了した場合でも、当該日までの本サービスを利用したことによる会員様間の契約を履行する義務があります。
  </p>
  <p>
   ８．会員様は、当店が本サービスを中断または終了した場合でも、当該日までの本サービス利用料金を当店に支払う義務があります。
  </p>

  <h3 class="accept-1">
   第11条（個人情報保護）
  </h3>
  <p>
   １．当店は本サイトおよび本サービスを運営するにあたり、以下の個人情報を取得します。
  </p>
  <p> 
  （1）利用登録お申し込み時の利用登録内容（変更のお申し出の内容を含みます）
  </p>
  <p>
  ・氏名
   </p>
   <p>
  ・性別
   </p>
   <p>
  ・生年月日
   </p>
   <p>
  ・住所（自宅住所および売買書籍の送付先住所）
   </p>
   <p>
  ・電話番号
   </p>
   <p>
  ・電子メールアドレス
   </p>
   <p>
  ・クレジットカード番号等、選択した決済方法に応じた情報
   </p>
   <p>
  ・その他当社が定める入力フォームに利用登録申請者が入力する情報
   </p>
   <p>
   （2）会員様による本サイトおよび本サービスの利用に関連して取得する情報
   </p>
   <p>
   ・アンケートへの回答内容、本サイト上の閲覧履歴・検索履歴等の行動履歴、その他の本サイトおよび本サービスの利用履歴情報等
   </p>
   <p>
   （3）会員様が本サイトへアクセスしたことを契機として機械的に取得する情報
   </p>
   <p>
   ・IPアドレス、ドメイン名
   </p>
   <p>
   ・ブラウザの種類・バージョン、オペレーティングシステム・バージョン、使用言語、場所
   </p>
   <p>
   ・端末情報（PC、携帯電話、スマートフォン、携帯のキャリア、機種情報、個体識別情報など）
   </p>
    <p>
    （4）当店が会員様よりご意見、ご要望、お問合せ等を受けた場合において、当該お問合せ等の内容、氏名、電子メールアドレス、その他のお問合せ等への対応に必要な情報
   </p>
    <p>
    （5）ログインID等、個人別に付与された番号・記号その他の符号
   </p>
    <p>
    （6）その他当店が適法に取得または保有する個人情報
   </p>
    <p>
    ２．当店は、本条第１項に定める個人情報を、諸規約および以下の条件に従って取り扱うものとします。
   </p>
    <p>
   （1）利用目的
   </p>
    <p>
    ①本サービスの提供、維持、保護および改善のため
   </p>
    <p>
    ②書籍提案等を目的とする会員様の情報分析のため
   </p>
   <p>
    ③会員様に対して、電子メールその他の各種通知手段によって、書籍提案等を行うため
   </p>
    <p>
    ④本サービスの変更の場合に、それぞれの後継サービスへの引継やそれらに関連する業務を行うため
   </p>
    <p>
    ⑤各種取引の履行のため
   </p>
    <p>
    ⑥会員様からのご意見、ご要望、お問合せ等に対し適切に対応するため
   </p>
    <p>
    ⑦不正利用の防止・調査のため
   </p>
    <p>
    ⑧その他本サイトおよび本サービスの円滑な運営のため
   </p>
    <p>
    ⑨その他上記各利用目的に準ずるか、これらに密接に関連する目的のため
   </p>
    <p>
    ※サービス解除後においても、当店は、上記⑤記載の利用目的のために、当社取得個人情報を利用することができるものとします。
   </p>
   <p>
   （2）第三者への提供
   </p>
   <p>
    当店は、本条第３項および法令等で定められた場合を除き、あらかじめご本人からご同意いただかない限り、第三者に個人情報を提供いたしません。
   </p>
   <p>
   （3）個人情報の苦情・相談への対応
   </p>
   <p>
    会員様が自己の個人情報について、個人情報保護法その他関連法令に基づく利用目的の通知、開示、訂正、追加、削除、利用の停止、消去または第三者への情報提供の停止を求める場合には、当店が諸規定に定める方法でお問い合わせください。
   </p>
   <p>
    ３．本条の記載内容にご同意いただけない場合には、本サービスの利用登録をお断りすることや、利用登録完了後に強制解除の手続きをとらせていただくことがあります。
   </p>

   <h3>
    第12条（準拠法・合意管轄）
   </h3>
   <p>
    １．本規約の準拠法は、日本法とします。
   </p>
   <p>
    ２．本規約に関して紛争が生じた場合、訴額に応じて大阪簡易裁判所または大阪地方裁判所を第一審の専属的合意管轄裁判所とします。当該紛争に関連した費用は、当事者で連帯して負担することに同意するものとします。
   </p>
   <p style="text-align: center;">
    以上
   </p>
   <p style="text-align: right;">
    2019年8月31日制定
   </p>

 </div>

</div>
</div>

<div class="sp1">
<div class="agreement">
 <h2 class="accept">ユリイカ利用規約</h2>
 <div class="accepted">
  <p class="tos-go">
   本規約は、ユリイカ（以下「当店」といいます）が運営する「ユリイカ」において、当店が提供する各種サービス（以下「本サービス」といいます）の利用にあたる諸条件を定めるものです。当店が本規約に定める方法で本サービスの利用登録を申し込み本サービスの利用を承認された方（以下「会員」といいます）は、本規約に同意したものとみなされます。なお、本規約は変更される場合があります。会員様には、最新の規約内容をご確認いただきますようお願い申し上げます。
  </p>
  <h3 class="accept-1">
   第1条（サービス概要）
  </h3>
  <p class="tos-go">
   1．本サービスとは、当店が運営するインターネット上のWebサイト「ユリイカ」（以下「本サイト」といいます）を通じて提供する、書籍（当店が認証する「大学において、授業の主たる教材として用いられる図書」に限ります）のオンラインフリーマーケットサービスおよびこれに付随したサービスをいいます。なお、当店が提供するオンラインフリーマーケットサービスとは、会員様間の書籍売買契約成立前後にわたる一切の情報伝達ならびに書籍授受および代金授受が円滑に行われるためのサービスをいいます。本サービスは、次項および第３項に定める手順に従って提供されるものとします。
  </p>
  <p class="tos-go">
   2．当店は、本サイトにて会員様に告知するサービスガイドおよびヘルプ等の諸規定（以下、「諸規定」といいます）に定める方法で、会員様間の書籍売買にかかる契約成立の機会を提供します。会員様間の書籍売買にかかる契約は、取引条件に関する双方の意思が合致したときに成立します。
  </p>
  <p class="tos-go">
   3．当店は、本サイトを通した契約締結ならびに契約成立後の書籍授受および代金授受など、本サービスを利用した場合の会員様間の書籍売買に関わる一切の行為（以下、「書籍取引」といいます）の方法について、諸規定に定めます。会員様は、諸規定に定められた方法で書籍取引を行わなければなりません。また、会員様は、本サービスの利用にあたり、関係法令および監督省庁のガイドラインを順守する義務を負います。
  </p>
  <p class="tos-go">
   4．当店は、会員様から提供された書籍の情報に対し、諸規定に定める方法で認証の可否いずれかの判断を下します。認証された書籍の情報は、本サイトに公開され、その公開後に会員様間の書籍売買契約が可能となります。
  </p>
  <p class="tos-go">
   5．当店が提供するオンラインフリーマーケットサービスは、当店が自ら書籍売買を行うものではなく、書籍売買の委託を受けるものでもありません。当店は、諸規定中に別段の定めがある場合を除き、会員様間の書籍売買契約の取消、解約、返金、保証など、取引の遂行には一切関与しません。
  </p>
  <p class="tos-go">
   6．当店は、会員様が本サービスを利用するにあたり、書籍認証、書籍売買契約成立・履行、会員登録情報変更、パスワード変更、本サービス利用登録の一時停止など、諸規定に定める事項の受付・処理を完了した場合、会員様に電子メールを送付することで、その旨を通知します。
  </p>
  <p class="tos-go">
   6．当店は、会員様の本サービス利用登録の解除（以下「サービス解除」といいます）の受付および処理を完了した場合、サービス解除をした元会員様に電子メールを送付することで、その旨を通知します。
  </p>


  <h3 class="accept-1">
   第2条（本規約の範囲と変更）
  </h3>
  <p class="tos-go">
   1．会員様は、本サービスの利用に関して、本規約および諸規定の全てに従うものとします。
  </p>
  <p class="tos-go">
  2．当店が、本サイトにて随時お客様に告知する諸規定は、本規約の一部を構成するものとします。
  </p>
  <p class="tos-go">
   3．本規約と諸規定の定めが異なる場合は、諸規定の定めが優先的に適用されます。
  </p>
  <p class="tos-go">
  4．当店は、会員様の承諾を得ることなく、本規約および諸規定の変更（以下「規約変更」といいます）をいつでも行うことができます。
  </p>
  <p class="tos-go">
   5．当店は、規約変更を行う場合、変更後の本規約および諸規定（以下「変更後規約」といいます）の内容を、本サイトにてお客様に告知します。
  </p>
  <p class="tos-go">
   6．規約変更の効力は、本サイトに変更後規約が提出された後、10日間の予告期間の満了をもって発生するものとします。
  </p>

  <h3 class="accept-1">
   第3条（利用登録）
  </h3>
  <p class="tos-go">
   1．本サービスを利用するためには、本サイトの「会員登録情報入力画面」にて、当店が諸規定に定める事項を入力し、当店による利用承認を受ける必要があります。
  </p>
  <p class="tos-go">
   2．次の各号いずれかに該当する方は、会員になることはできません。
  </p>
  <p>
 （1）満18歳未満の方
  </p>
  <p class="tos-go">
 （2）当店が諸規定に定める大学に所属する学部生または大学院生ではない方
  </p>
  <p class="tos-go">
 （3）当店が諸規定に定める本サービスの有効な決済手段を利用できない方
  </p>
  <p class="tos-go">
 （4）有効な電子メールアドレスを所有していない方
  </p>
  <p class="tos-go">
 （5）すでに利用登録を完了した会員様
  </p>
  <p class="tos-go">
 （6）本規約にご同意いただけない方
  </p>
  <p class="tos-go">
  3．当店は、利用登録申請者が次の各号いずれかに該当する場合、利用承認を行わないことがあります。
  </p>
  <p class="tos-go">
 （1）日本在住でない方
  </p>
  <p class="tos-go">
 （2）利用登録申請内容に虚偽、誤記または記入漏れがある方
  </p>
  <p class="tos-go">
 （3）過去に本規約違反などにより、強制的に利用登録を解除された方
  </p>
  <p class="tos-go">
 （4）その他、当店が会員として不適当と判断した方
  </p>
  <p class="tos-go">
  4．当店は、会員様が第２項または前項各号いずれかに該当することが利用承認後に判明した場合、利用登録の一時停止または利用承認の取り消しを行うことができるものとします。
  </p>
  <p class="tos-go">
  5．利用登録申請者および会員様は、利用登録申請内容が、常にご自身の正確な情報であるように管理および修正を行う責任を負います。
  </p>
 
  <h3 class="accept-1">
   第4条（会員認証・パスワード管理）
  </h3>
  <p class="tos-go">
  1．当店は、会員様が事前に設定した電子メールアドレスとパスワードの組み合わせによって、会員様を認証します。会員様は、電子メールアドレスとパスワードの組み合わせを使用することで、本サービスを利用することが可能になります。
  </p>
  <p class="tos-go">
  2．会員様は、本サービスの利用にあたり、自己の電子メールアドレスおよびパスワードを第三者に使用させることはできません。
  </p>
  <p class="tos-go">
  3．会員様は、自己の電子メールアドレスおよびパスワードの管理と使用について、一切の責任を負います。
  </p>
  <p class="tos-go">
  4．会員様は、設定した電子メールアドレスまたはパスワードを失念した場合、直ちに諸規定に定められた方法で当店に届け出るものとします。
  </p>

  <h3 class="accept-1">
   第5条（サービス利用料金）
  </h3>
  <p class="tos-go">
   1．会員様は、本サービスの利用にあたり、以下の利用料金を支払うものとします。
  </p>
  <p class="tos-go">
  （1）書籍売買システム利用料
  </p>
  <p class="tos-go">
   書籍出品者は、当該書籍の落札が完了した時点で、お支払いいただく義務が発生します。
  </p>
  <p class="tos-go">
  （2）書籍出品取消システム利用料
  </p>
  <p class="tos-go">
   書籍出品者は、当該書籍が他の会員様に入札された後に出品の取り消しを行った場合、お支払いいただく義務が発生します。
  </p>
  <p class="tos-go">
   ２．会員様は、当店が諸規定に定めた算出方法による利用料金を支払うものとします。
  </p>
  <p class="tos-go">
   ３．会員様は、当店が諸規定に定めた方法で、支払い義務が発生した利用料金を支払うものとします。
  </p>
  <p class="tos-go">
   ４．会員様は、前項に定められた利用料金の支払い義務が発生した場合、いかなる場合でも過不足なく支払わなければなりません。
  </p>
  <p class="tos-go">
   ５．当店は、会員様が当店への支払い義務に基づき当店に支払われた利用料金については、一切返金しません。
  </p>
  <p class="tos-go">
   ６．当店は、会員様が正当な事由なく第１項～第５項に違反した場合、当該利用料金の支払期日より４週間経過したのちに、相応の法的措置をとることがあります。
  </p>

  <h3 class="accept-1">
   第6条（知的財産権の利用と保護）
  </h3>
  <p class="tos-go">
   1．会員様は、本サイトに掲載される書籍情報その他当店が提供する情報・データ等を、著作権法で認められた私的利用の範囲を超えて利用することはできません。
  </p>
  <p class="tos-go">
   2．当店は、当店が提供するデータ等について、その完全性、正確性、適用性、有用性等について一切保証しません。
  </p>
  <p class="tos-go">
   3．会員様は、本サイトに、書籍に関する情報や感想、見解等（以下、「会員著作文書」といいます）を登録することができます。会員様は、次の各号いずれかに該当する会員著作文書等を、本サイトに登録することができません。
  </p>
  <p class="tos-go">
  （1）公序良俗や法律に反するもの
  </p>
  <p class="tos-go">
  （2）犯罪的行為に結びつくもの
  </p>
  <p class="tos-go">
  （3）選挙活動およびこれに類する行為、またはその他の政治もしくは宗教活動に関するもの
  </p>
  <p class="tos-go">
  （4）本サイトを通じてまたは本サイトに関連して、営利を目的とするまたはその準備を目的とするもの
  </p>
  <p class="tos-go">
  （5）他の会員様または第三者の著作権、営業秘密、パブリシティ―その他の財産権もしくは名誉、プライバシー等の人格権を侵害するもの
  </p>
  <p class="tos-go">
  （6）他の会員様または第三者に不快感や不利益を与えたり誹謗中傷したりするもの
  </p>
  <p class="tos-go">
  （7）本サービスの円滑な運営を妨げるもの
  </p>
  <p class="tos-go">
  （8）その他、当店が不適切と判断したもの
  </p>
  <p class="tos-go">
   4．会員様は、本サイトに登録した会員著作文書等の著作権を、当店に譲渡するものとします。
  </p>
  <p class="tos-go">
   5．当店は、本サイトに登録された会員著作文書等の内容が第3項に該当もしくは該当する恐れがあると判断した場合、当該文書作成者に通知することなく、かかる文書等を変更または削除することができるものとします。
  </p>
  <h3 class="accept-1">
   第7条（強制サービス解除）
  </h3>
  <p class="tos-go">
   1．会員様が次の各号いずれかに該当すると当店が判断した場合、当店は、当該会員様に事前に通知することなく、強制的にサービス解除または本サービスの利用を一時停止することができるものとします。
  </p>
  <p class="tos-go">
  （1）本サイトのサーバーの不正利用または改ざんを行った場合
  </p>
  <p class="tos-go">
  （2）他の会員様のログインIDまたはパスワードを不正に使用した場合
  </p>
  <p class="tos-go">
  （3）本サービスを利用したことによる契約の履行を遅滞し、または拒否した場合
  </p>
  <p class="tos-go">
  （4）本サービスの利用にあたり、虚偽の情報を提供した場合
  </p>
  <p class="tos-go">
   (5) 会員様の指定した支払い手段の利用が停止させられた場合
  </p>
  <p class="tos-go">
  （6）本規約に違反した場合
  </p>
  <p class="tos-go">
  （7）本規約を遵守しない旨を公言した場合
  </p>
  <p class="tos-go">
  （8）違法な行為を行った場合
  </p>
  <p class="tos-go">
  （9）会員様に本サービスを提供する上で著しい支障がある、もしくは支障が生じる恐れがあると当社が判断した場合
  </p>
  <p class="tos-go">
  （10） 重複して利用登録を行った場合
  </p>
  <p class="tos-go">
  （11） 第３条第２項または第３項各号のいずれかに該当することが利用登録承認後に判明した場合
  </p>
  <p class="tos-go">
  （12） 本サービスの運営を妨げる行為、誹謗する行為を行った場合
  </p>
  <p class="tos-go">
  （13） その他当店が、会員として不適当と判断した場合
  </p>
  <p class="tos-go">
   ２．会員様は、強制的にサービス解除された場合、期限の利益を喪失し、強制解除までに発生した本サービスの利用料金の支払い債務を、一括して直ちに支払うものとします。
  </p>

  <h3 class="accept-1">
   第8条（免責事項）
  </h3>
  <p class="tos-go">
   １．当店は、以下の事由により会員様が被ったいかなる損害に対しても、その理由を問わず一切の責任を負いません。また、以下の事由により会員様が当店に損害を与えた場合、当事者は連帯して当店に当該損害を賠償するものとします。なお、以下の事由により会員様に発生した支払い義務は免除されず、既に決済が行われた料金は返金しません。
  </p>
  <p class="tos-go">
  （1）会員様間の書籍取引に関する当事者間での問題が生じた場合
  </p>
  <p class="tos-go">
  （2）本サービスに出品される商品等の品質、安全性、または適法性等についての不具合、または瑕疵が生じた場合
  </p>
  <p class="tos-go">
  （3）会員著作文書の信頼性、精度、または適法性等についての問題が生じた場合
  </p>
  <p class="tos-go">
  （4）第6条第5項に基づき、当店が会員著作文書を変更または削除した場合
  </p>
  <p class="tos-go">
  （5） インターネットの通信環境、PC、視聴機器等、会員様の利用環境に起因して本サービスの利用に問題が生じた場合。
  </p>
  <p class="tos-go">
  （6） 本サイトへのアクセス集中により、本サービスの利用に問題が生じた場合。
  </p>
   <p class="tos-go">
   （7） 会員様が登録したお届け先住所、氏名、電子メールアドレス等の登録情報の誤りがあった場合。
  </p>
   <p class="tos-go">
   （8） 会員様の電子メールアドレスまたはパスワードの使用に関する問題が生じた場合
   </p>
   <p class="tos-go">
   （9） 当店が会員様に送付した電子メールが不着であった場合
   </p>
   <p class="tos-go">
   （10）第7条第１項に基づき、当店が強制的にサービス解除または本サービスの利用を一時停止した場合
  </p>
   <p class="tos-go">
   （11）その他、本サービスに関連して、会員様または第三者に結果的損害、付随的損害、逸失損害等の間接損害が生じた場合
  </p>
   <p class="tos-go">
    ２．会員様の損害が当店の重過失もしくは故意による場合、または会員様が消費者契約法上の消費者に該当する場合は、前項の限りではありません。
  </p>
   <p class="tos-go">
    ３．本サービスの利用に関して当店が損害賠償責任を負う場合、会員様が当店に本サービスの利用対価として支払った総額を限度額として、賠償責任を負うものとします。
  </p>

  <h3 class="accept-1">
   第9条（損害賠償請求）
  </h3>
  <p class="tos-go">
   １．当店は、会員様が、本規約に定める事項または本規約の趣旨に違反する行為を行ったと判断した場合、当該会員様に事前に通知することなく、相応の法的手段をとる権利を有するものとします。
  </p>

  <h3 class="accept-1">
   第10条（サービス中断・終了）
  </h3>
  <p class="tos-go">
   １．当店は、次の各号いずれかに該当する場合、本サービスを中断できるものとします。
  </p>
  <p class="tos-go">
  （1）本サービスのシステム保守を定期的または緊急に行う場合
  </p>
  <p class="tos-go">
  （2） 戦争、暴動、騒乱、労働争議、地震、噴火、洪水、津波、火災、停電その他の非常事態により、本サービスの提供が通常通りできない場合
  </p>
  <p class="tos-go">
  （3） 本サービスの提供が、技術的に困難または不可能となった場合
  </p>
  <p class="tos-go">
  （4）法令等に基づく措置により、本サービスの提供が不可能となった場合
  </p>
  <p class="tos-go">
  （5)その他、当店が、本サービスの運営上、一時的な中断が必要と判断した場合
  </p>
  <p class="tos-go">
   ２．当店は、前項により、本サービスを中断するときは、事前にその旨を会員様に通知するものとします。ただし、緊急やむを得ない場合は、この限りではありません。
  </p>
  <p class="tos-go">
   ３．当店は、本サービスの中断や、システムおよび通信環境の障害などの発生により、会員様が被ったいかなる損害についても、理由を問わず一切の責任を負いません。
  </p>
  <p class="tos-go">
   ４．当店は、やむを得ない場合その他本サービスの運営上の理由により、本サービスを終了できるものとします。
  </p>
  <p class="tos-go">
   ５．当店は、前項の規定により本サービスを終了するときは、事前にその旨を会員様に通知するものとします。ただし、緊急やむを得ない場合には、この限りでありません。
  </p>
  <p class="tos-go">
   ６．当店は、前項の手続きを経た場合、会員様が被ったいかなる損害についても、理由を問わず一切の責任を負いません。
  </p>
  <p class="tos-go">
   ７．会員様は、当店が本サービスを中断または終了した場合でも、当該日までの本サービスを利用したことによる会員様間の契約を履行する義務があります。
  </p>
  <p class="tos-go">
   ８．会員様は、当店が本サービスを中断または終了した場合でも、当該日までの本サービス利用料金を当店に支払う義務があります。
  </p>

  <h3 class="accept-1">
   第11条（個人情報保護）
  </h3>
  <p class="tos-go">
   １．当店は本サイトおよび本サービスを運営するにあたり、以下の個人情報を取得します。
  </p>
  <p class="tos-go"> 
  （1）利用登録お申し込み時の利用登録内容（変更のお申し出の内容を含みます）
  </p>
  <p class="tos-go">
  ・氏名
   </p>
   <p class="tos-go">
  ・性別
   </p>
   <p class="tos-go">
  ・生年月日
   </p>
   <p class="tos-go">
  ・住所（自宅住所および売買書籍の送付先住所）
   </p>
   <p class="tos-go">
  ・電話番号
   </p>
   <p class="tos-go">
  ・電子メールアドレス
   </p>
   <p class="tos-go">
  ・クレジットカード番号等、選択した決済方法に応じた情報
   </p>
   <p class="tos-go">
  ・その他当社が定める入力フォームに利用登録申請者が入力する情報
   </p>
   <p class="tos-go">
   （2）会員様による本サイトおよび本サービスの利用に関連して取得する情報
   </p>
   <p class="tos-go">
   ・アンケートへの回答内容、本サイト上の閲覧履歴・検索履歴等の行動履歴、その他の本サイトおよび本サービスの利用履歴情報等
   </p>
   <p class="tos-go">
   （3）会員様が本サイトへアクセスしたことを契機として機械的に取得する情報
   </p>
   <p class="tos-go">
   ・IPアドレス、ドメイン名
   </p>
   <p class="tos-go">
   ・ブラウザの種類・バージョン、オペレーティングシステム・バージョン、使用言語、場所
   </p>
   <p class="tos-go">
   ・端末情報（PC、携帯電話、スマートフォン、携帯のキャリア、機種情報、個体識別情報など）
   </p>
    <p class="tos-go">
    （4）当店が会員様よりご意見、ご要望、お問合せ等を受けた場合において、当該お問合せ等の内容、氏名、電子メールアドレス、その他のお問合せ等への対応に必要な情報
   </p>
    <p class="tos-go">
    （5）ログインID等、個人別に付与された番号・記号その他の符号
   </p>
    <p class="tos-go">
    （6）その他当店が適法に取得または保有する個人情報
   </p>
    <p class="tos-go">
    ２．当店は、本条第１項に定める個人情報を、諸規約および以下の条件に従って取り扱うものとします。
   </p>
    <p class="tos-go">
   （1）利用目的
   </p>
    <p class="tos-go">
    ①本サービスの提供、維持、保護および改善のため
   </p>
    <p class="tos-go">
    ②書籍提案等を目的とする会員様の情報分析のため
   </p>
   <p class="tos-go">
    ③会員様に対して、電子メールその他の各種通知手段によって、書籍提案等を行うため
   </p>
    <p class="tos-go">
    ④本サービスの変更の場合に、それぞれの後継サービスへの引継やそれらに関連する業務を行うため
   </p>
    <p class="tos-go">
    ⑤各種取引の履行のため
   </p>
    <p class="tos-go">
    ⑥会員様からのご意見、ご要望、お問合せ等に対し適切に対応するため
   </p>
    <p class="tos-go">
    ⑦不正利用の防止・調査のため
   </p>
    <p class="tos-go">
    ⑧その他本サイトおよび本サービスの円滑な運営のため
   </p>
    <p class="tos-go">
    ⑨その他上記各利用目的に準ずるか、これらに密接に関連する目的のため
   </p>
    <p class="tos-go">
    ※サービス解除後においても、当店は、上記⑤記載の利用目的のために、当社取得個人情報を利用することができるものとします。
   </p>
   <p class="tos-go">
   （2）第三者への提供
   </p>
   <p class="tos-go">
    当店は、本条第３項および法令等で定められた場合を除き、あらかじめご本人からご同意いただかない限り、第三者に個人情報を提供いたしません。
   </p>
   <p class="tos-go">
   （3）個人情報の苦情・相談への対応
   </p>
   <p class="tos-go">
    会員様が自己の個人情報について、個人情報保護法その他関連法令に基づく利用目的の通知、開示、訂正、追加、削除、利用の停止、消去または第三者への情報提供の停止を求める場合には、当店が諸規定に定める方法でお問い合わせください。
   </p>
   <p class="tos-go">
    ３．本条の記載内容にご同意いただけない場合には、本サービスの利用登録をお断りすることや、利用登録完了後に強制解除の手続きをとらせていただくことがあります。
   </p>

   <h3>
    第12条（準拠法・合意管轄）
   </h3>
   <p class="tos-go">
    １．本規約の準拠法は、日本法とします。
   </p>
   <p class="tos-go">
    ２．本規約に関して紛争が生じた場合、訴額に応じて大阪簡易裁判所または大阪地方裁判所を第一審の専属的合意管轄裁判所とします。当該紛争に関連した費用は、当事者で連帯して負担することに同意するものとします。
   </p>
   <p style="text-align: center;">
    以上
   </p>
   <p style="text-align: right;">
    2019年8月31日制定
   </p>

 </div>

</div>
</div>


</body>
