<div class="contents graph" style="height: 678px; width: 800px; margin-top: 80px; margin-left: 340px;">
 <div style="width: 700px;">  
 
  <%= form_for @inquiry, :url => "/plans/inquirys/thanks" do |f| %>
     <h1 style="text-align: center; font-weight: 600; font-size: 25px; color: inherit; line-height: 36px;
    white-space: nowrap; width: 638px; margin-top: 0px;">お問い合わせ</h1>
   <div style="width: 530px; height: 430px; padding: 30px; padding-left: 0px; padding-top: 30px; margin-left: 0px;">
    <table class="table" style="width: 635px;">
      <tr>
        <th style="width: 200px; height: 49px;" >名前</th>
        <td style="text-align: center;">
          <%= f.hidden_field :name, style: "margin-bottom: 10px; width: 286px;" %>
          <%= @inquiry.name %>
        </td>
      </tr>
      <tr>
        <th style="width: 200px; height: 49px; ">メールアドレス</th>
        <td style="text-align: center;">
          <%= f.hidden_field :email, style: "margin-bottom: 10px; width: 286px;" %>
          <%= @inquiry.email %>
        </td>
      </tr>
      <tr>
        <th style="width: 250px; height: 49px;">お問い合わせ内容</th>
        <td style="text-align: center;">
          <%= f.hidden_field :message, style: "margin-bottom: 10px;" %>
          <%= simple_format(@inquiry.message, style: "height: 150px; width: 372px;") %>
        </td>
      </tr>
    </table>
     <div style="text-align: center; width: 638px;">
      <%= f.submit '送信', :class => 'btn btn-primary', style: "width: 200px; margin-top: 50px; " %>
     </div>
   
  <% end %>
  </div>
 </div>
</div>