<div class="contents graph" style="height: 678px; width: 800px; margin-top: 80px; margin-left: 340px;">
  <div style="width: 700px;">
   
   <%= form_for @inquiry, :url => "/plans/inquirys/confirm" do |f| %>
    <h1 style="text-align: center; font-weight: 600; font-size: 25px; color: inherit; line-height: 36px;
    white-space: nowrap; width: 700px; margin-top: 0px;">お問い合わせフォーム</h1>
  
  <div style="width: 630px; height: 430px; padding: 30px; padding-left: 0px; padding-top: 30px;">
    <% if @inquiry.errors.any? %>
     <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
     </div>
    <% end %>
 
    <table class="table" style="width: 630px;">
     
      <tr>
        <th style="width: 200px; ">名前<span style="margin-bottom: 0px;" class="text-danger">（必須）</span></th>
        <td ><%= f.text_field :name, style: "margin-bottom: 10px;" %></td>
      </tr>
     
      <tr>
        <th style="width: 200px; ">メールアドレス<span style="margin-bottom: 10px;" class="text-danger">（必須）</span></th>
        <td ><%= f.text_field :email, style: "margin-bottom: 10px;" %></td>
      </tr>
      
       <tr >
        <th style="width: 200px; ">お問い合わせ内容</th>
        <td  style=""><%= f.text_area :message, style: "margin-bottom: 10px; height: 150px;" %></td>
       </tr>
     
    </table>
    <div style="text-align: right;">
    <%= f.submit '確認', class: 'btn btn-primary', style: "width: 200px; margin-top: 30px;" %>
    </div>
   <% end %>
  </div>
   
  </div>
</div>