<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="uh4J6YQwgfL0Q9XnjCyjTV2xB16q7eXGFCHfdq2UNLQ" />
    <title>Chance to Chance: Japan Private Tour with University Guide in Japan</title>
    <meta name="description" content="We offer tour plans in Japan that best suit you. Take this chance to experience the very unique Japanese culture you will never forget!
">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- 違うものと認識するために -->
    <link rel="canonical" href="https://chancetochance.world/guiders/sign_in">
    <!-- fontsのエラーをなくすために -->
    <link href=" https://chancetochance.world/assets/font_1_honokamin.ttf" rel="font">
    <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130237144-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-130237144-1');
    </script>


  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a class="bushi" href="/">Chance to Chance</a></h1>
        <% if guider_signed_in? %>
          <div class="user_nav grid-6">
           <span><%= current_guider.nickname %>
              <ul class="user__info">
                <li>
                  <a href="/guiders/<%= current_guider.id %>">マイページ</a>
                  <a href="/guiders/<%= current_guider.id %>/go">ヘルプ</a>
                  <%= link_to "ログアウト", destroy_guider_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            <a class="post" href="/plans/new">plan</a>
          </div>
        <% end %>

        <% if tourist_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= link_to "Logout", destroy_tourist_session_path, method: :delete %>
            </span>
            <a class="post" href="/tourists/show">Contact</a>
          </div>
        <% end %>

        <div class="pc">
         <% if ! (guider_signed_in? or tourist_signed_in?) %>

          <div class="grid-6">
           <div class="user_nav grid-6">
            <%= link_to "traveller", new_tourist_session_path, class: 'post' %>
            <%= link_to "guider", new_guider_session_path, class: 'post' %>
           </div>
          </div>
         <% end %>
        </div>

        <div class="sp">
          <% if ! (guider_signed_in? or tourist_signed_in?) %>
           <div class="grid-6">
            <div class="user_nav grid-6">
              <span class="samurai" style=" 
                height: 20px;
                bottom: 5px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                padding-top: 0px;
                margin-left: 0px;
                padding-right: 11px;">
                <ul class="user__info">
                 <li>
                  <%= link_to "traveller", new_tourist_session_path, class: 'post' %>
                  <%= link_to "guider", new_guider_session_path, class: 'post' %>
                 </li>
                </ul>
              </span>
            </div>
           </div>
          <% end %>
        </div>

      </div>
    </header>

    <%= yield %>

    <footer>
      <p class="last">
        Copyright © 2018 Chance to Chance. All rights reserved.
      </p>
    </footer>
  </body>
</html>
